{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block head_title %}

{% endblock head_title %}

{% block content %}
<div class="p-5 mx-auto">
    <h2 class="fs-1">Temperature</h2>
    <hr>
    <form class="col-lg-4 mx-auto my-5"
        action=""
        method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="my-3 text-end">
            <button type="submit"
                class="btn btn-outline-dark px-5">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}